@import url("//bootswatch.com/4/slate/bootstrap.min.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css");
@import url("//use.fontawesome.com/releases/v5.6.1/css/all.css");

body, html { width: 100%; min-height: 100%; padding: 0; margin: 0; }
body {
	font-family: "Open Sans", sans-serif;
	background: #001820 url("../images/bg.gif") fixed repeat-x top center/cover;
	color: #FFF;
}

.container {
	max-width: 960px;
}

header { margin-top: 10px; }

[id^="subcat"] button, [id^="maincat"] button { margin: 4px; }
[id^="subcat"] { display: none; }

table td, table th { background: rgba(0,0,0,.5); vertical-align: middle !important; cursor: pointer; }
td.time { background: rgba(0,0,0,.7); }
td.video .fa-video { color: #0D0 }
td.video .fa-video-slash { color: #D00 }

time { font-size: 110%; }
time.place-1 { color: #FFDF00 } time.place-2 { color: #D3D3D3 } time.place-3 { color: #CD7F32 }
time:before { font-family: "Font Awesome 5 Free"; font-weight: 900; }
time.place-1:before, time.place-2:before, time.place-3:before { content: "\f091  " !important; }
sub { bottom: auto }

#run_info .modal-dialog { max-width: 640px; }
#run_info time:before { content: "\f017  "; }

.nickname {
	display: inline-block;
	vertical-align: middle;
	background: #FFF;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}